<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
        
        <!-- Navegação Interna da Página de Cadastro -->
        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <!-- Os itens de menu específicos do cadastro permanecem aqui -->
                </ul>
            </div>
        </nav>

        <div class="container" id="cadastro">
            <!-- O formulário de cadastro original deve ser mantido aqui -->
        </div>

    </section>
</body>
</html>