<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
        
        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <!-- O conteúdo da navegação interna permanece aqui -->
                </ul>
            </div>
        </nav>

        <div class="container" id="listagem">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <!-- O cabeçalho da tabela (thead) permanece aqui -->
                    <tbody>
                        <!-- Exemplo da estrutura de fechamento mostrada na imagem -->
                        <tr>
                            <td>
                                <!-- Botões de ação (editar/excluir) -->
                                <button type="button" class="btn btn-info btn-sm">
                                    <i class="oi oi-brush"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</body>
</html>